<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
 PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
 "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>
 <servlet>
  <servlet-name>
   ForumServlet
  </servlet-name>
  <servlet-class>
   org.pr0.straylight.fs.ForumServlet
  </servlet-class>
  <init-param>
   <param-name>PropertiesFile</param-name>
   <param-value>webapps/forumdemo/WEB-INF/conf/servlet.properties</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>
   ForumServlet
  </servlet-name>
  <url-pattern>
   /forums/*
  </url-pattern>
 </servlet-mapping>
 <mime-mapping>
  <extension>
   png
  </extension>
  <mime-type>
   image/png
  </mime-type>
 </mime-mapping>
</web-app>
